/* Global Settings */

body {
    background: black url('http://fc01.deviantart.net/fs71/f/2012/160/b/9/stars_by_paulinemoss-d52un4e.jpg');
    animation: stars 205s linear alternate;
    
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* animation */

/* space shuttle animation */
#slide {
    position: absolute;
    bottom: 30px;
    left: -600px;
    width: 150px;
    -webkit-animation: slide 1s forwards;
    -webkit-animation-delay: 2s;
    animation: slide 1s forwards;
    animation-delay: 2s;
}

@-webkit-keyframes slide {
    100% {
        left: 0;
    }
}

@keyframes slide {
    100% {
        left: 0;
    }
}

/* moving stars animation */
@keyframes stars {
    0% {
        background-position: 0 0
    }

    100% {
        background-position: 0 100%
    }
}

/* Navigation Menu */

.space-shuttle {
    padding-left: 20px;
}

.nav-background-image {
    background: url('../images/stary-sky.jpg') center center / cover no-repeat;
}

.navbar {
    border-bottom: 3px #787167 solid;
}

.navbar-header {
    text-align: center;
}

.navbar-brand {
    color: #fff;
    font-size: 2rem;
    padding: 20px;
    float: none;
    text-transform: uppercase;
}

.navbar-toggler {
    border: 3px blue solid;
    /* done this so we can see the hamburger button */
}

.navbar-nav {
    display: block;
    margin: 0 auto;
    float: none;
    text-align: center;
} 

#navbarNav {
    padding: 20px;
    flex-grow: 0;
}

.navbar-nav > li {
    display: inline-block;
    float: none;
} 

.nav-link {
    background-color: #000;
    color: #fff;
    border: 3px solid #787167;
}

.fa-solid.fa-shuttle-space {
    color: #000;
    margin-left: 40px;
}

/* cards */

.card {
    background-color: #000;
    margin: 10px;
    /* filter: drop-shadow(0.3rem 0.3rem 2rem rgba(38, 83, 132, 1)); */
    box-shadow: 0.3rem 0.3rem 2rem rgba(38, 83, 132, 1), 0.3rem 0.3rem 2rem rgba(123, 39, 44, 1);
    border: 3px solid #000;
}

.card-title {
    color: #fff;
    margin: 10px;
    padding-bottom: 5px;
    text-align: center;
    text-transform: uppercase;
    box-shadow: 0 0.3rem 0 0 rgba(44, 53, 49, 1);
}

/* facts section */

.card-facts {
    background-color: #000;
    padding: 10px;
    text-align: justify;
    opacity: 0.7;
}

.facts-header {
    color: #fff;
    margin: 15px;
    text-align: center;
    text-transform: uppercase;
}

.facts-row {
    color: #fff;
    padding: 10px;
    text-align: center;
}

.facts-container {
    height: 400px;
    width: 100%;
    margin-bottom: 30px;
}

/* Footer */

footer {
    margin-top: auto;
}

.footer-container {
    width: 100%;
}

.footer-background {
    background: url('../images/stary-sky.jpg') center center / cover no-repeat;
    background-color: #030406;
    display: flex;
    border-top: 3px #787167 solid;
}

.footer-row {
    color: #fff;
    text-align: center;
}

a {
    color: #fff;
}

.footer-button-style {
    font-style: italic;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;
    margin: auto;
    width: 27%;
    text-decoration: none;
}

.copyright-style p {
    /* font-family: "Roboto", sans-serif; */
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 0;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Footer Map */
/* https://google-map-generator.com/ */

.mapouter {
    position: relative;
    text-align: center;
    width: 450px;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    width: 750px;
    padding: 20px;
    float: left;
}

.iframe-size {
    width: 650px;
    height: 200px;
}

/*------------------------- media queries */

/*------------------------- small devices (up to 480px) */

@media screen and (max-width: 480px) {

    .navbar-brand {
        font-size: 1.1rem;
    }

    .space-shuttle {
        display: none;
    }

    .card {
        margin-top: 20px;
    }

    .footer-row {
        margin-top: 600px !important;
    }
}

/*------------------------- screen size (576px) */

@media (min-width: 576px) {

    .footer-row {
        margin-top: 480px !important;
    }
}

@media screen and (max-width: 576px) {

    .space-shuttle {
        display: none;
    }

    .card {
        position: relative;
        left: 80px !important;
    }

    .card-img-top {
        width: 100%;
        height: 40vw !important;
    }

    .mapouter {
        width: 540px;
    }

    .gmap_canvas {
        width: 440px !important;
    }
}


/*------------------------- screen size (768px) */

@media (min-width: 768px) {

    .space-shuttle {
        display: none;
    }

    .card {
        position: relative;
        left: 150px;
    }

    .footer-row {
        margin-top: 330px !important;
    }

    .mapouter {
        width: 230px;
    }

    .gmap_canvas {
        width: 230px;
    }
}

@media (max-width: 768px) {

    .space-shuttle {
        display: none;
    }

    .card {
        position: relative;
        left: 150px;
    }

    .footer-row {
        margin-top: 330px;
    }

    .mapouter {
        width: 230px;
    }

    .gmap_canvas {
        width: 230px;
    }
}

/*------------------------- large screens (laptops, 992px)---*/

@media (min-width: 992px) {

    .navbar-header {
        margin-top: 80px;
    }

    .card {
        position: relative;
        left: 0;
    }
    
    .card-img-top {
        width: 100%;
        height: 30vw !important;
    }

    .footer-row {
        margin-top: 130px !important;
    }

    .mapouter {
        width: 450px;
    }

    .gmap_canvas {
        width: 450px;
    }
}

/*------------------------- large screens (laptops, 1200px)---*/

@media (min-width: 1200px) {

    .card {
        width: 22rem !important;
        margin-top: 20px;
    }

    .card-img-top {
        width: 100%;
        height: 28vw;
    }

    .mapouter {
        width: 450px;
    }

    .gmap_canvas {
        width: 450px;
    }
}

/*------------------------- large screens (laptops, 1400px)---*/

@media (min-width: 1400px) {

    .card-img-top {
        width: 100%;
        height: 15vw !important;
    }

    .footer-row {
        margin-top: 30px !important;
    }

    .mapouter {
        width: 450px;
    }

    .gmap_canvas {
        width: 450px;
    }
}