body {
    background: black url('http://fc01.deviantart.net/fs71/f/2012/160/b/9/stars_by_paulinemoss-d52un4e.jpg');
    animation: stars 205s linear alternate;
}

/* Navigation Menu */

.space-shuttle {
    width: 40%;
    padding: 20px;
}

.nav-background-image {
    background: url('../images/stary-sky.jpg') center center / cover no-repeat;
}

.navbar {
    border-bottom: 3px #000 solid;
}

.navbar-header {
    margin-top: 80px;
    margin-left: 175px;
    padding: 15px;
    text-align: center;
    width: 72%;
}

.navbar-brand {
    color: #fff;
    float: none;
    font-size: 2rem;
    text-transform: uppercase;
}

.navbar-toggler {
    border: 3px blue solid; /* done this so we can see the hamburger button */
}

.navbar-nav {
    display: block;
    margin: 0 auto;
    float: none;
    text-align: center;
}

.navbar-nav > li {
    display: inline-block;
    float: none;
    margin-bottom: 90px;
}

.nav-link {
    color: #fff;
    border: 3px solid #000;
    background-color: #000;
}

.fa-solid.fa-shuttle-space {
    color: #000;
    margin-left: 40px;
}

/* cards */

.card {
    background-color: #000;
    margin: 50px;
    filter: drop-shadow(0.3rem 0.3rem 2rem rgba(38, 83, 132, 1));
    border: 3px solid #000;
}

.card-title {
    color: #fff;
    margin: 10px;
    text-align: center;
    text-transform: uppercase;
}

/* headers */

.facts-header {
    color: #fff;
    margin: 10px;
    text-align: center;
    text-transform: uppercase;
}

/* other */

.facts-row {
    color: #fff;
    padding: 10px;
    text-align: center;
}

.facts-container {
    background: url('../images/stary-sky.jpg') center center / cover no-repeat;
    height: 400px;
    width: 100vw;
    border: 3px #000 solid;
}

/* hover */

/* .nav-link:hover {
    color: #fff;
} */

.navbar-nav > li:hover {
    filter: drop-shadow(0.3rem 0.3rem 2rem rgba(38, 83, 132, 1));
}


/* animation */

    #slide {
        position: absolute;
        bottom: 5px;
        left: -600px;
        width: 250px;
        -webkit-animation: slide 1s forwards;
        -webkit-animation-delay: 2s;
        animation: slide 1s forwards;
        animation-delay: 2s;
    }
    
    @-webkit-keyframes slide {
        100% { left: 0; }
    }
    
    @keyframes slide {
        100% { left: 0; }
    }

    @keyframes stars {
        0% {
            background-position: 0 0
        }

        100% {
            background-position: 0 100%
        }
    }